@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cocktail-container{
  display: flex;
  flex-direction: row;
}

.card-style{
  width:100%;
}

.modal-button{
  background-color: black;
}

.content-container {
  padding-top: 20px;
  padding-bottom: 80vh;
}