.postDetail-container {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content {
  border-top: 1px solid black; /* Add black lines above each part */
  width: 100%;
  margin-top: 10px; /* Add margin between parts */
  padding-top: 10px; /* Add padding between parts and the line */
  text-align: center;
}

.post-title-container {
  background-color: grey; /* Set background color for the top section */
  width: 100%;
  padding: 10px; /* Add padding to the top section */
  display: flex;
  justify-content: center; /* Center the title */
}
